@font-face {
  font-family: 'Spectral';
  src: url('/static/Spectral-Regular.ttf');
}
@font-face {
  font-family: 'Bagnard';
  src: url('/static/BagnardSans.otf');
}
:root {
  --ratio: 1.7;
  --s-6: calc(var(--s-5) / var(--ratio));
  --s-5: calc(var(--s-4) / var(--ratio));
  --s-4: calc(var(--s-3) / var(--ratio));
  --s-3: calc(var(--s-2) / var(--ratio));
  --s-2: calc(var(--s-1) / var(--ratio));
  --s-1: calc(var(--s0) / var(--ratio));
  --s0: 1rem;
  --s1: calc(var(--s0) * var(--ratio));
  --s2: calc(var(--s1) * var(--ratio));
  --s3: calc(var(--s2) * var(--ratio));
  --s4: calc(var(--s3) * var(--ratio));
  --s5: calc(var(--s4) * var(--ratio));
  --measure: 60ch;

  --dark-grey: rgb(163, 166, 197);
  --grey: rgb(226, 227, 238);
  --light-grey: rgb(242, 242, 246);
  --dark-blue: rgb(16, 0, 158);
  --trans-dark-blue: rgba(16, 0, 158, 0.9);
  --blue: rgb(26, 4, 228);
  --light-blue: rgb(42, 83, 218);
  --pink: rgb(255, 192, 239);
  --purple: rgb(22, 0, 58);
  --links: var(--blue);
  --light-links: var(--light-blue);

  font-size: calc(var(--s0) * 1.1);
  font-family: 'Spectral';
  color: var(--purple);
}
* {
  max-width: var(--measure);
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html,
body,
div,
section,
header,
nav,
main,
footer,
hr {
  max-width: none;
  line-height: 1.5;
}
.cluster {
  --space: var(--s0);
  overflow: hidden;
}
.cluster > * {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin: calc(var(--space) / 2 * -1);
}
.cluster > * > * {
  margin: calc(var(--space) / 2);
  max-width: var(--measure);
}
.stack {
  --space: var(--s0);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.stack > * {
  margin-top: 0;
  margin-bottom: 0;
}
.stack > * + * {
  margin-top: var(--space);
}
a {
  color: var(--links);
}
a:visited {
  color: var(--light-links);
}
h1 {
  font-size: var(--s3);
  font-style: italic;
}
h2 {
  font-size: var(--s2);
}
h3 {
  font-size: var(--s1);
}
h1,
h2,
h3,
h4 {
  font-family: 'Bagnard';
}
ul {
  list-style: none;
}
ul li::before {
  content: '→';
  margin: 0 var(--s-2);
}
body {
  background-color: var(--grey);
  width: 100%;
}
#email {
  width: 100%;
  padding: var(--s-2) var(--s1);
  background-color: var(--dark-blue);
  color: var(--light-grey);
  font-size: var(--s1);
  text-align: center;
  box-shadow: var(--s-2) var(--s-2) var(--dark-grey);
}
#email:active {
  box-shadow: none;
  transform: translate(var(--s-2), var(--s-2));
}
footer > div > * {
  --space: var(--s1) !important;
}
footer > .nav-link {
  text-align: center;
}
footer > div {
  width: 100%;
  justify-content: flex-end !important;
}
footer > div > div {
  display: flex;
  justify-content: center;
  flex: 1;
}
