:root {
  --res-width: calc(7vw - var(--s0));
}
footer,
main > section {
  padding: var(--s0) var(--res-width);
}
footer > div,
main > section > * {
  max-width: calc(2 * var(--measure) + 3.6rem);
  width: 100%;
  margin: 0 auto !important;
}
main > .cluster > * > * {
  --space: var(--s1);
}
main > .cluster > * {
  margin: 0 auto;
}
main > .cluster > * > * {
  flex-grow: 1;
}
.personal > div {
  flex-direction: row-reverse;
}
.personal .card {
  background-color: var(--dark-blue);
  color: var(--light-grey);
}
.personal .card a {
  color: var(--pink);
}
.personal .head {
  text-align: right;
}
.card {
  padding: var(--s-1) var(--s0);
}
.card > img,
.card > video {
  width: 100%;
  height: auto;
}
.card-tags > p {
  background-color: var(--trans-dark-blue);
  color: var(--light-grey);
  padding: var(--s-3) var(--s-2) 0 var(--s-2);
}
.about > div {
  display: flex;
  justify-content: flex-end;
}
.owl {
  padding: var(--s2) var(--res-width);
  background-color: var(--dark-blue);
  color: var(--light-grey);
  width: 100%;
}
.owl em {
  font-style: normal;
  font-weight: bold;
  color: white;
}
.owl .card {
  background-color: var(--grey);
  color: var(--purple);
}
#links {
  font-style: italic;
  width: 95%;
}
.card-links a::after {
  content: ' \2197';
}
.replit {
  margin-top: 0;
  padding: var(--s2) var(--res-width);
  background-color: var(--pink);
}
