:root {
  --res-width: calc(7vw - var(--s0));
}
main > section {
  padding: var(--s0) var(--res-width);
}
.case-link {
  width: 100%;
  display: block;
  margin: 0 !important;
  padding: var(--s-1) 0;
  background-color: var(--dark-blue);
  color: var(--light-grey) !important;
  border: solid var(--s-3) var(--pink);
  text-align: center;
  font-family: 'Bagnard';
  font-size: var(--s0);
}
.card {
  padding-top: var(--s0);
}
.card > :last-child {
  padding-bottom: var(--s-1);
}
.owl .card {
  background-color: var(--grey);
  color: var(--purple);
}
.personal .card {
  background-color: var(--dark-blue);
  color: var(--light-grey);
}
.personal .card a {
  color: var(--pink);
}
.card > p,
.card > h2,
.card > h3,
.card > h4,
.card > .case-link {
  margin-left: var(--s0);
  margin-right: var(--s0);
}
.card > img,
.card > video {
  width: 100%;
  height: auto;
}
.about {
  display: flex;
  justify-content: flex-end;
}
.owl {
  padding: var(--s2) var(--res-width);
  background-color: var(--dark-blue);
  color: var(--light-grey);
  width: 100%;
}
.owl-head {
  margin-left: var(--s0);
}
.owl h2 a {
  color: var(--pink);
}
#links {
  font-style: italic;
  display: flex;
  justify-content: space-between;
  width: 95%;
}
